<h1>Listing Transactions</h1>
<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Vendor</th>
  </tr>
 
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.createdate%></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.vendor %></td>
    </tr>
  <% end %>
</table>
